<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <div id='current-user' data-address="<%= user.address %>"></div>
    <div id='current-room' data-room="<%= room %>"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 rooms-sidebar">
                <div class="card no-outline">
                    <div class="card-body">
                        <small>Logged in as</small><br>
                        <b>
                            TODO: Hook This up Later<br>
                        </b>
                    </div>
                </div>
                <hr>
                <hr>
                <a href="/rooms/hall" class="room-link">
                    <div class="card no-outline mb-2 room-card <%= room == 'hall' ? 'active' : '' %>">
                        <div class="card-body">
                            <span class='name'>
                                ROOM: hall
                            </span><br>
                            <span class='member-count'>
                                <small>
                                    24 Members
                                </small>
                            </span>
                        </div>
                    </div>
                </a>

                <a href="/rooms/troll" class="room-link">
                    <div class="card no-outline mb-2 room-card <%= room == 'troll' ? 'active' : '' %>">
                        <div class="card-body">
                            <span class='name'>
                                ROOM: troll
                            </span><br>
                            <span class='member-count'>
                                <small>
                                    59 Members
                                </small>
                            </span>
                        </div>
                    </div>
                </a>

                <a href="/rooms/techies" class="room-link">
                    <div class="card no-outline mb-2 room-card <%= room == 'techies' ? 'active' : '' %>">
                        <div class="card-body">
                            <span class='name'>
                                ROOM: techies
                            </span><br>
                            <span class='member-count'>
                                <small>
                                    91 Members
                                </small>
                            </span>
                        </div>
                    </div>
                </a>

                <a href="/rooms/private" class="room-link">
                    <div class="card no-outline mb-2 room-card <%= room == 'private' ? 'active' : '' %>">
                        <div class="card-body">
                            <span class='name'>
                                ROOM: private
                            </span><br>
                            <span class='member-count'>
                                <small>
                                    91 Members
                                </small>
                            </span>
                        </div>
                    </div>
                </a>

                <a href="/rooms/vit" class="room-link">
                    <div class="card no-outline mb-2 room-card <%= room == 'vit' ? 'active' : '' %>">
                        <div class="card-body">
                            <span class='name'>
                                ROOM: vit
                            </span><br>
                            <span class='member-count'>
                                <small>
                                    91 Members
                                </small>
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-9">
                <div class="chat-room">
                    <nav class="navbar navbar-light">
                        <span class="navbar-brand" href="#">
                            <b>
                                Chat
                            </b>
                        </span>
                        <small>
                            39 Members
                        </small>
                    </nav>
                    <div id="messages">
                        <% posts.reverse().forEach((post)=> { %>
                            <% var parsed_item=JSON.parse(post.item_content) %>
                                <div id="message-<%= post._id['$oid'] %>"
                                    class="message mb-2 <%= parsed_item.address == user.address ? 'me' : '' %>">
                                    <div class="content-container">
                                        <div class="content">
                                            <%= parsed_item.content.body %>
                                        </div>
                                        <div class="author">
                                            <%= parsed_item.address %>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                    </div>
                    <div class="chat-box">
                        <form action="/messages/<%= room %>" method="post" id='message-form'>
                            <div class="input-group">
                                <input type='text' name="message" id="message" cols="30" rows="10" class="form-control">
                                <div class="input-group-append"></div>
                                <input type="submit" value="Post Message" class="btn btn-primary">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <%= posts %> -->
    <script type='text/javascript'>
        $(document).ready(() => {

            function appendMessage(message) {
                if (isNotOnPage(message) && isForChannel(message) && isChatMessage(message)) {
                    var user_address = $('#current-user').data('address')
                    var template = '<div class="message mb-2 ' + (user_address == message.content.address ? "me" : "") + '"> \
                        <div class="content-container"> \
                            <div class="content">' + message.content.content.body + '</div> \
                            <div class="author">' + message.content.address + '</div> \
                        </div> \
                    </div>'
                    $('#messages').append(template)
                }
            }

            function isNotOnPage(message) {
                return $(`#message-${message._id}`)[0] == undefined
            }

            function isForChannel(message) {
                return $('#current-room').data('room') == message.content.ref
            }

            function isChatMessage(message) {
                return message.content.content.body != undefined
            }

            const socket = new WebSocket('wss://api2.aleph.im/api/ws0/messages?msgType=POST&contentType=chat')
            socket.onmessage = (e) => {
                let message = JSON.parse(e.data)
                console.log(message)
                appendMessage(message)
            }
            $('#message-form').submit((e) => {
                e.preventDefault();
                $.post('/messages/<%= room %>', $('#message-form').serialize())
                $('#message-form input[type=text]').val('')
            })
        })
    </script>
</body>

</html>