<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <div id='current-user' data-address="<%= user.address %>"></div>
    
   
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 rooms-sidebar">
                    <div class="card no-outline">
                        <div class="card-body">
                            <small>Logged in as</small><br>
                            <b>
                                <%= user.username %>
                            </b>
                        </div>
                    </div>
                    <hr>
                    <hr>
                    <% channels.forEach((channel)=> { %>
                        <% var parsed_item=JSON.parse(channel.item_content) %>
                            <a href="/rooms/<%= channel.hash %>" class="room-link">
                                <div
                                    class="card no-outline mb-2 room-card <%= room == channel.hash ? 'active' : '' %>">
                                    <div class="card-body">
                                        <span class='name'>
                                            <%= parsed_item.content.body %>
                                        </span><br>
                                        <span class='member-count'>
                                            <small>
                                                24 Members
                                            </small>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <% }) %>

                </div>
                <div class="col-9">
                    <div class="chat-room">
                        <nav class="navbar navbar-light">
                            <span class="navbar-brand" href="#">
                                <b>
                                    Chat
                                </b>
                            </span>
                            <small>
                                2 Members
                            </small>
                        </nav>
                        <div class="alert alert-info mt-3">
                            Choose a channel to get started.
                            <a href="./channels/new">Create a New Channel</a>
                            or
                            <a href="./channels/">Go to Pre-Existing channels</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>